image: ruby:3.2

stages:
  - build-hosts
  - build-pages
  - deploy-pages

include:
  - project: "aao-fyi/pipelines"
    file: "hugo/.cf-pages-deploy-ci.yml"

variables:
  GIT_USER_NAME: "Commit Bot"
  GIT_USER_EMAIL: "bot@example.com"
  GIT_SSH_KEY: "SSH-Private-Key-Base64"
  GIT_REPO_URL: "ssh://git@codeberg.org/$CI_PROJECT_PATH.git"

build-hosts:
  stage: build-hosts
  before_script:
    # Configure git
    - git config user.name "$GIT_USER_NAME"
    - git config user.email "$GIT_USER_EMAIL"
    - git remote set-url origin "$GIT_REPO_URL"
    # Configure SSH
    - mkdir -p ~/.ssh
    - echo "$GIT_SSH_KEY" | base64 --decode > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan codeberg.org >> ~/.ssh/known_hosts
    # Checkout
    - git checkout -b build
  script:
    # Find hosts directories, exclude filters
    - hosts_dirs=($(find data -type f -name "*.txt" -not -path "*/filters/*" | xargs -n1 dirname | sort -u))
    # Build each hosts directories file, add to hosts_files list
    - |
      for hosts_dir in "${hosts_dirs[@]}"; do
        dir_name=$(basename "$hosts_dir")
        output_file="${hosts_dir}/${dir_name}.txt"

        # Include .txt files in directory (non-recursive)
        find "$hosts_dir" -maxdepth 1 -type f -name "*.txt" ! -name "${dir_name}.txt" -exec cat {} + | sort -u > "$output_file"
      done

    # Find hosts files, exclude filters
    - hosts_files=($(find data -type f -name "*.txt" -not -path "*/filters/*" | sort))

    # Build each hosts file
    - |
      for hosts_file in "${hosts_files[@]}"; do
        service_path=$(dirname "$hosts_file")
        static_path="static/"${service_path#"data/"}

        service_name=$(basename "$hosts_file" .txt)

        mkdir -p "${static_path}"

        # Generate Regex block
        awk '{ gsub("\\.", "\\\\&", $0); printf "/^(.+?\\.)?%s$/\n", $0; }' "$hosts_file" > "${static_path}/${service_name}-block-rgx.txt"

        # Generate Adblock block
        awk '{ printf "||%s^\n", $0 }' "$hosts_file" > "${static_path}/${service_name}-block-adb.txt"

        # Generate Adblock allow
        awk '{ printf "@@||%s^\n", $0 }' "$hosts_file" > "${static_path}/${service_name}-allow-adb.txt"

        # Calculate SHA-256 checksum
        for output_file in "${static_path}"/*.txt; do
          if [[ -f "$output_file" ]]; then
            sum_file="${output_file%.*}.sum"
            sha256sum "$output_file" | awk '{print $1}' > "$sum_file"
          fi
        done
      done

    # Delete section data files, prevent manual editing
    - |
      for hosts_dir in "${hosts_dirs[@]}"; do
        dir_name=$(basename "$hosts_dir")
        output_file="${hosts_dir}/${dir_name}.txt"

        # Delete section data file
        rm "$output_file"
      done

    # Find filters files
    - filters_files=($(find data/filters -type f -name "*.txt" | sort))
    - filters_path="static/filters/"

    # Build filters
    - |
      for filter_file in "${filters_files[@]}"; do
        filter_name=$(basename "$filter_file" .txt)

        mkdir -p "${filters_path}"

        # Generate minified filter list
        awk '!/^$/ && !/^!/' "$filter_file" > "${filters_path}/${filter_name}-adb.txt"
      done

    # Calculate filters SHA-256 checksum
    - |
      for output_file in "${filters_path}"/*.txt; do
        if [[ -f "$output_file" ]]; then
          sum_file="${output_file%.*}.sum"
          sha256sum "$output_file" | awk '{print $1}' > "$sum_file"
        fi
      done

    # Check for changes and commit
    - |
      if [[ -n $(git status --porcelain) ]]; then
        # Stage changes
        git add .
        # Commit changes
        git commit -m "Build lists [skip ci]" || true
        # Push changes
        git push origin build:main
      else
        echo "No changes to commit."
      fi
  artifacts:
    paths:
      - static
    expire_in: 1 hour
