{{ $input := . }}
{{ $inputSplit := split $input "/" }}
{{ $listName := index $inputSplit 1 }}

{{ $filterListADB := (printf "%s-adb" (lower $input)) }}

<div class="row row-cols-1 row-cols-xl-2 g-4">
    {{ $listSplit := split $filterListADB "-" }}
    {{/* List Type is second to last definition in list name */}}
    {{ $listApps := upper (index $listSplit (sub (len $listSplit) 1)) }}

    {{ $listTXT := (printf "%s.txt" $filterListADB) }}
    {{ $listSUM := (printf "%s.sum" $filterListADB) }}

    {{ if and (fileExists (printf "static/%s" $listTXT)) (fileExists (printf "static/%s" $listSUM)) }}
    <div class="col">
        <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title">
                <span class="text-danger">{{ partial "icon" "funnel-x" }}</span>&nbsp;
                {{ title (printf "%s %s List" $listName $listApps) }}
            </h5>
            <p class="card-text">Will filter DOM content on listed domains.</p>
            <p class="card-subtitle">ADB Filter List:</p>
            <div class="highlight">
                <pre><code>{{ printf "https://hosts.aao.fyi/%s" $listTXT }}</code></pre>
            </div>
        </div>

        {{/* Card Footer */}}
        <div class="card-footer text-center">
            <p class="card-subtitle">List Mirrors:</p>
            {{ partial "button" (dict "url" (printf "https://hosts.aao.fyi/%s" $listTXT) "title" "hosts.aao.fyi" "icon" "file-spreadsheet") }}
            {{ partial "button" (dict "url" (printf "https://codeberg.org/aao-fyi/hosts/raw/branch/main/static/%s" $listTXT) "title" "Codeberg" "brand" "codeberg") }}
            {{ partial "button" (dict "url" (printf "https://gitlab.com/aao-fyi/hosts/-/raw/main/static/%s" $listTXT) "title" "GitLab" "brand" "gitlab") }}
            {{ partial "button" (dict "url" (printf "https://raw.githubusercontent.com/aao-fyi/hosts/main/static/%s" $listTXT) "title" "GitHub" "brand" "github") }}
        </div>
        </div>
    </div>
    {{ end }}
</div>
