<div class="container my-4">
<div class="row row-cols-1 row-cols-xl-3 row-cols-md-2 row-cols-sm-1 g-4">
{{ $blockListRGXLists := slice }}
{{ $blockListADBLists := slice }}
{{ $allowListADBLists := slice }}

{{/* LOOKHERE: FIX THIS, DONT USE ".Section" FOR URL, REFER TO "hosts-lists" PARTIAL FOR PATH SUB METHOD */}}
{{ range .Pages }}
    {{ $service := (urlize .Page.Title) }}
    {{ $blockListRGX := (printf "%s/%s-block-rgx.txt" (urlize .Section) ($service)) }}
    {{ $blockListADB := (printf "%s/%s-block-adb.txt" (urlize .Section) ($service)) }}
    {{ $allowListADB := (printf "%s/%s-allow-adb.txt" (urlize .Section) ($service)) }}

    {{ $blockListRGXLists = $blockListRGXLists | append $blockListRGX }}
    {{ $blockListADBLists = $blockListADBLists | append $blockListADB }}
    {{ $allowListADBLists = $allowListADBLists | append $allowListADB }}
{{ end }}

{{/* RGX-Block-Lists */}}
<div class="col">
    <div class="card h-100">
    <div class="card-body">
        <h5 class="card-title">
            <span class="text-danger">{{ partial "icon" "octagon-x" }}</span>
            &nbsp; Regex Block Lists
        </h5>

<div class="highlight">
<pre><code>
{{- range $blockListRGXLists -}}
{{ printf "https://hosts.aao.fyi/%s" . }}
{{ end -}}
</code></pre>
</div>

    </div>
    </div>
</div>
{{/* /RGX-Block-Lists */}}

{{/* ADB-Block-Lists */}}
<div class="col">
    <div class="card h-100">
    <div class="card-body">
        <h5 class="card-title">
            <span class="text-danger">{{ partial "icon" "octagon-x" }}</span>
            &nbsp; Adblock Block Lists
        </h5>

<div class="highlight">
<pre><code>
{{- range $blockListADBLists -}}
{{ printf "https://hosts.aao.fyi/%s" . }}
{{ end -}}
</code></pre>
</div>

    </div>
    </div>
</div>
{{/* /ADB-Block-Lists */}}

{{/* ADB-Allow-Lists */}}
<div class="col">
    <div class="card h-100">
    <div class="card-body">
        <h5 class="card-title">
            <span class="text-warning">{{ partial "icon" "triangle-alert" }}</span>
            &nbsp; Adblock Allow Lists
        </h5>

<div class="highlight">
<pre><code>
{{- range $allowListADBLists -}}
{{ printf "https://hosts.aao.fyi/%s" . }}
{{ end -}}
</code></pre>
</div>

    </div>
    </div>
</div>
{{/* /ADB-Block-Lists */}}

</div>
</div>
