{{/* Main */}}
{{ define "main" }}
<div class="container my-4">
  <h1>{{ .Site.Title }}</h1>

  {{/* Content */}}
  {{ .Content | safeHTML }}

  {{ range .Sections }}
    <h2>{{ .Page.Title }}</h2>
    <p>{{ .Page.Description }}</p>

    {{ partial "button" (dict "url" .Page.RelPermalink "title" "View Services") }}

    <h3 class="mt-3">Service Lists</h3>
    {{ partial "hosts-lists-bulk" . }}

    <h3>Section Lists</h3>
    {{ $lowerTitle := (urlize .Page.Title) }}
    {{ partial "hosts-lists" (printf "%s/%s" $lowerTitle $lowerTitle) }}
  {{ end }}
</div>
{{ end }}
