{{/* Main */}}
{{ define "main" }}
<div class="container my-4">
  <h1>{{ .Site.Title }}</h1>

  {{/* Content */}}
  {{ .Content | safeHTML }}

  {{ $docs := .Site.GetPage "section" "docs" }}

  {{ range $docs.Sections }}

    <h2>{{ .Page.Title }}</h2>
    <p>{{ .Page.Description }}</p>

    {{ range .Pages }}
      <h3>{{ .Page.Title }}</h3>{{ partial "button" (dict "url" .Page.RelPermalink "title" "Read Docs") }}
      {{ partial "hosts-lists" (printf "%s/%s" (urlize .Parent.Page.Title) (urlize .Page.Title)) }}
    {{ end }}
  {{ $filePath := printf "content/docs/%s" .Name }}
  {{ with readFile $filePath }}
    {{ $hostsShortcodes := findRE "(?s){{< hosts-lists(.*?)>}}" . }}

    {{ range $hostsShortcodes }}
      {{ $shortcodeParam := findRE `"([^"]+)"` . }}
      {{ $shortcodeParamValue := index $shortcodeParam 0 }}
      {{/* Remove quotes */}}
      {{ $shortcodeParamValue = $shortcodeParamValue | replaceRE `['"]` "" }}
      {{ with $shortcodeParamValue }}
        {{ $listTitle := split . "/" }}
        <h3>{{ title (index $listTitle 1) }}</h3>
        {{ partial "hosts-lists" . }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ end }}
</div>
{{ end }}
